body{
    background-color: dimgray;
}

.sudoku_alignment{
 display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 35%;
    width: 1500px;
    height: 1000px;

}

.check_boxes_section{
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    float: right;
    width: 300px;
}

.sudoku{
    font-family: "Courier New", monospace;
    border: 3px inset black;
    width: 472px;
    height: 472px;
    border-radius: 4px;
    display: inline-block;
}

.single-field{
    border: 1px groove black;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.third-column{
    border-right-width: 3px;
}

.third-row{
    border-bottom-width: 3px;
}

.entry-field{
    font-family: Helvetica, sans-serif;
    color: black;
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    margin: 0;
    border: none;
    padding: 5px;
    transition: background-color .5s;
}

.entry-field-flash-green{
    width: 40px;
    height: 40px;
    opacity: 1;
    animation: flash-green 1s ease-in forwards;
}

@keyframes flash-green {
    0% {background-color: lime}
    100% {background-color: white}
}

.entry-field-flash-red{
    width: 40px;
    height: 40px;
    opacity: 1;
    animation: flash-red 1s ease-in forwards;
}

@keyframes flash-red {
    0% {background-color: red}
    100% {background-color: white}
}

.entry-field:focus {
    outline:none;
    background-color: floralwhite;
}

.titles{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    top: 0;
    margin-top: 0;
}

.real_label{
    position: relative;
    float: left;
    margin-top: 5px;
    left: 3%;
    font-size: 18px;
}

input[type='checkbox']{display: none}

.button{
    position: relative;
    text-align: center;
    border-radius: 40px;
    width: 60px;
    height: 30px;
    background-color: gray;
    transition: background-color .4s;
}

.button::after {
    content: "";
    position: absolute;
    top: 8.3%;
    left: 5%;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    transition: transform 400ms;
}

input[type='checkbox']:checked ~ .button{
    background-color: #50c878;
}
input[type='checkbox']:checked ~ .button::after{
    transform: translateX(29px);
}

.sudoku_outputs {
    font-family: Helvetica, sans-serif;
    position: absolute;
    top: 48.3%;
    width: 478px;
    justify-content: space-between;
    display: flex;

}

.btns{
    display: inline-block;
    height: 20px;
    width: 130px;
    border: none;
    color: black;
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #89cff0;
    transition: ease-out 0.3s;
    outline: none;

}

.btns:hover{
    box-shadow: inset 130px 0 0 0 #89cff0;
    cursor: pointer;
    color: white;
}

.text-output{
    background-color: white;
    margin-top: 20px;
    padding: 5px;
    font-family: sans-serif;
    position: absolute;
    left: 32.5%;
    top: 24%;
}


.sudoku-complete{
    animation: rainbow 11s infinite;
}

@keyframes rainbow {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

